
{{ form(form) }}
<select id="evenementBundle_evenement_theme"

<label for="evenementBundle_evenement_theme">Theme</label>
<select >


        {% for m in form %}
            <option>   {{m.nom}}  </option>
        {% endfor %}
   </select>
