{% extends "::base.html.twig" %}

{% block title %}evenementBundle:evenement:supprimerevenement{% endblock %}

{% block body %}
<h1>Welcome to the evenement:supprimerevenement page</h1>
{% endblock %}
