{% extends "::base.html.twig" %}

{% block title %}evenementBundle:reservation:afficherreservation{% endblock %}

{% block body %}
<h1>Welcome to the reservation:afficherreservation page</h1>
{% endblock %}
