{% extends "base.html.twig." %}

{% block content %}

<h3 class="pb-3 mb-4 font-italic border-bottom">
voulez vous reserver une place? </h3>

    <tr>





    <td><a href=" {{  path('evenement_reservation_supprimer'        )  }}"><small>

                <button type="button" class="btn btn-sm btn-primary">Supprimer</button>

            </small></a>

        <a href=" {{  path('evenement_reservation_ajouter'      )  }}"><small>
                <button type="button" class="btn btn-sm btn-primary">Confirmer</button>
            </small></a>
    </td>

    </tr>




{% endblock %}