{% extends "base.html.twig." %}

{% block content %}

<h3 class="pb-3 mb-4 font-italic border-bottom">
voulez vous reserver une place?

    <td>

        <a href=" {{  path('evenement_reservation_ajouter'      )  }}"><small>
                <button type="button" class="btn btn-sm btn-primary">Confirmer</button>
            </small></a>
    </td>

    <td>

        <a href=" {{  path('evenement_evenement_afficher'      )  }}"><small>
                <button type="button" class="btn btn-sm btn-primary">annuler</button>
            </small></a>
    </td>
</h3>
    <tr>







    </tr>




{% endblock %}