{% extends "::base.html.twig" %}

{% block title %}evenementBundle:reservation:ajouterreservation{% endblock %}

{% block body %}
<h1>Welcome to the reservation:ajouterreservation page</h1>
{% endblock %}
