{% extends "::base.html.twig" %}

{% block title %}evenementBundle:reservation:modifierreservation{% endblock %}

{% block body %}
<h1>Welcome to the reservation:modifierreservation page</h1>
{% endblock %}
