{% extends "::base.html.twig" %}

{% block title %}evenementBundle:reservation:supprimerreservation{% endblock %}

{% block body %}
<h1>Welcome to the reservation:supprimerreservation page</h1>
{% endblock %}
