
{% extends 'base.html.twig' %}

{% block content %}


    <html>

    <h1 style="color: #C82829" align="41"> Ajout Film </h1>


    <body>

    {{form(formulaire)}}


    </body>
    </html>




{% endblock %}