{% extends 'base.html.twig' %}

{% block content %}

    <br><br>


    <h3> Noter le Film</h3>

    </br></br>

    <br><br>

    {{form(formulaire)}}


    </br></br>


    <a href="{{ path('readFilmClient') }}"> Retour </a>


    {% endblock %}
