{% extends 'base.html.twig' %}

    {% block content %}
<center>

<h1 style="color: #C82829" align="41">LA LISTE DES Salles</h1>




<table style="width:100%" :hover {background-color: #f5f5f5;}>



    <tr >

        <td>nom</td>
        <td>capacite</td>



    </tr>
    {% for m in salle %}

        <tr>

            <td>{{ m.nom }}</td>
            <td>{{ m.capacite }}</td>




        </tr>
    {% endfor %}
</table>

</center>

{% endblock %}

